In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#Stilleri Seaborn olarak ayarlama
sns.set
#KMeans modülünü içe aktarma
from sklearn.cluster import KMeans

In [15]:
#Verinin yüklenmesi
data = pd.read_csv('points.txt', delimiter="\t")

In [16]:
data

       x     y
0   0.12  0.29
1   0.57  0.19
2   0.60  0.57
3   0.06  0.28
4   0.06  0.42
..   ...   ...
95  0.48  0.22
96  0.11  0.57
97  0.65  0.69
98  0.55  0.42
99  0.22  0.19

[100 rows x 2 columns]

In [18]:
with open("yazılım.txt,"w")

SyntaxError: invalid syntax (1953329974.py, line 1)